@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  max-width: 1440px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
